html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html {
	font-size: 62.5%;
}

body {
	font-family: 'Lato', sans-serif, 'Roboto', sans-serif;
}

.wrapper {
	max-width: 1024px;
	margin: 0 auto;
}

.py-20 {
	padding: 50px 0;
}

img.special {
	width: 100%;
}

/* header */

header {
	background-image:linear-gradient( to left, rgba(144, 148, 151, 0.5), rgba(144, 148, 151, 0.3)),url(images/corinne-kutz-211251.jpg);
	background-color: #2a2a2a;
	padding-top: 10px;
	min-height: 80vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.menu {
	border: 1px solid #ffffff;
	background-color: #ffffff;
	padding: 10px 10px;
}

.align-center {
	text-align: center;
}

h1 {
	color: #ffffff;
	text-transform: uppercase;
	border: 5px solid white;
	font-size: 6.0rem;
	font-family: lato;
	font-style: normal;
	margin-top: 120px;
	margin-bottom: 0;
	display: inline-block;
	padding: 10px 30px;
	letter-spacing: 5px;
}

.nav-header {
	float: right;
	width: 85%;
	text-align: right;
}

.nav-header ul {
	list-style: none;
	display: inline-block;
	margin: 0;
	padding-top: 10px;
}

.nav-header li {
	float: left;
}

.nav-header a, i.fa-search, i.fa-bars {
   text-decoration: none;
   color: #000000;
   text-transform: uppercase;
   display: inline-block;
   font-size: 1.3rem;
   padding: 10px 15px;
   border-bottom: 3px solid transparent;
}

.nav-header a:hover {
	border-bottom: 3px solid #1cce6c;
}

.p-menu {
	font-size: 1.8rem;
	color: #ffffff;
	padding-bottom: 20px;
}

a.cta-white {
	font-size: 1.3rem;
	color: #ffffff;
	border: 1px #ffffff solid;
	text-decoration: none;
	padding: 10px 30px;
	margin-right: 10px;
}


a.cta-white:hover, a.cta-grey:hover {
	background-color: #1cce6c;
	border-color: #1cce6c;
}

/* Main section */

h2 {
	font-size: 3.2rem;
	text-align: center;
	text-transform: uppercase;
	padding-top: 20px;
	margin: 0;
}

h3 {
	font-size: 2.1rem;
	text-transform: uppercase;
}

h4 {
	font-size: 1.6rem;
	color:#2a2a2a;
	text-transform: capitalize;
}

p {
	color: #CACBCC;
	font-size: 1.4rem;
	padding-bottom: 10px;
	line-height: 1.5;
}

p.underline {
	font-size: 1.3rem;
	color: #adadad;
	text-align: center;
	text-transform: uppercase;
}

p.underline::after {
	content: " ";
    background-color: #1cce6c;
    display: block;
    width:50px;
    height: 2px;
    margin: 0 auto;
    margin-top: 20px;
}

span {
	color:#1cce6c;
}

div.left {
	float: left;
	width: calc(33.33% - 20px);
	margin: 10px;
}

a.cta-grey {
	font-size: 1.2rem;
	color: #eaeef1;
	border: 1px #eaeef1 solid;
	text-decoration: none;
	padding: 10px 30px;
}

.flex {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}

.justify-around {
	justify-content: space-around;
}

.background {
	background-color: #eaeef1;
}

.flex-1 {
	flex: 1;
}

.flex-2 {
	flex: 2;
}

.container-row {
	display: flex;
	border: 1px solid #eaeef1;
	background: #ffffff
}

.container-row img {
	width: 200px;
	height: 200px;
	flex: 1;
	padding: 20px;
}

i.border.fa-cog, i.border.fa-life-ring, i.border.fa-globe {
	font-size: 20px;
	color: #2a2a2a;
	border: 1px solid #adadad;
	padding: 20px;
	width: 100%;
	margin-bottom: 5px;
}

.border:hover {
	background: #1cce6c;
	color: #ffffff;
	border-color: #1cce6c;
}

.a-border {
	color: #2a2a2a;
	text-decoration: none;
	text-transform: capitalize;
	padding-left: 10px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

figure img {
	width: 100%;
	height: 100%;
}

figcaption {
	display: none;
	position: absolute;
	z-index: 2;
	padding-top: 80px;
	top:0;
	bottom:0;
	left: 0;
	right:0;
	background: linear-gradient( to left, rgba(0,0,0,0.5),rgba(0,0,0,0.9));
	color: white;
}

figure:hover figcaption {
	display: block;
}

figure {
	width: calc(33.33% - 20px);
    margin: 10px;
	position: relative;
	text-align: center;
}

.bg {
	background-image: linear-gradient( to left, rgba(144, 148, 151, 0.5), rgba(144, 148, 151, 0.3)), url(images/cloud-background.jpg);
	padding: 10px;
}

.position {
	position: relative;
	z-index: 2;
	bottom: -40px
}

.ptr {
	padding-top: 50px;
	padding-right: 20px;
}

.pl-30 {
	padding-left: 30px;
}

i.icon {
	font-size: 20px;
	color: #adadad;
	border: 1px solid #adadad;
	border-radius: 50%;
	padding: 20px;
}

.icon:hover {
	background: #1cce6c;
	color: #ffffff;
	border-color: #1cce6c;
}

.item {
	width: calc(50% - 20px);
	margin-left: 20px;
}

.ml-20 {
	margin-left: 20px;
}

.my-5 {
	margin-top: 5px;
	margin-bottom: 5px;
}

.mx-5 {
	margin-left: 5px;
	margin-right: 5px;
}

.mx-10 {
	margin-left: 10px;
	margin-right: 10px;
}

.ml-20 {
	margin-left: 20px;
}

.mr-20 {
	margin-right: 20px; 
}

video {
	max-width: 500px;
}

/* footer */

.f-bg {
	background-color: #2a2a2a;
}

.f-sub-bg {
	background-color: #212223;
	padding: 20px;
}

footer h4 {
	color: #eaeef1;
}

.f-cta {
	color: #555657;
	text-decoration: none;
	font-size: 1.4rem;
	vertical-align: center;
}

.fa-angle-double-right {
	color:#1cce6c;
}

.fa-location-arrow {
	color:#ffffff;
	background-color: #1cce6c;
	border: 1px solid #1cce6c;
	padding: 4px 6px 5px 5px;
}

input {
	background-color: #3e3f40;
	color: #555657;
	font-size: 1rem;
	font-family: lato;
	border: none;
	padding: 5px;
	vertical-align: top;
}

a.pill {
	font-size: 1rem;
	color: #555657;
	background-color: #3e3f40;
	text-decoration: none;
	padding: 5px 10px;
	margin: 0 5px 5px 0;
}


a.pill:hover {
	background-color: #1cce6c;
	color: #ffffff;
}

footer p {
	margin: 0;
	color: #555657;
}

.p-sub-footer {
	color: #555657;
	text-transform: uppercase;
	font-size: 1.0rem;
	padding-bottom: 0;
	text-align: right;
}

.f-icon {
	font-size: 15px !important;
	color: #ffffff;
	background-color: #3E3F40;
	border: 1px solid #3E3F40;
	border-radius: 50%;
	padding: 7px;
	margin: 3px;
}

.flex-1-center {
	flex: 1;
	align-self: center;
}

@media (max-width: 1024px) {
.media {
	flex-direction: column;
	max-width: 70%;
    margin: 0 auto;
}

.gallery {
	align-items: stretch;
}

figure {
	width: calc(50% - 20px);
}

.screen {
	flex-direction: column;
	align-items: center;
	max-width: 50%;
}

.center {
	flex-direction: column;
	align-items: center;
	max-width: 50%;
	padding-left: none;
}

.media-footer {
	flex-direction: column;
	align-items: center;
	max-width: 50%;
}

div.left {
	float: none;
	margin: 0 auto;
	padding-top: 20px;
}

.cta {
	text-align: center;
}

.services {
	width: 50%;
}

h3, h4, p, a {
	text-align: center;
}


img.flex-1.services {
	display: none;
}

.item p, .item h4 {
	text-align: left;
}

form {
	text-align: center;
}
} 

